* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #232d3f;
  --secondary-color: #0f0f0f;
  --element-color: #008170;
  --active-element-color: #005b41;
}

.main_content{
  display: flex;
  flex-direction: row;
  
}

.left_content{
  display: flex;
  flex-direction: column;
  width: 78.2vw;
  height: 100vh;

}

.nav_bar {
  /* width: 1000px; */
  height: 100px;
  background-color: var(--primary-color);
}



.right_content{
  
  background-color: var(--primary-color);
width: 21.8vw;
height:100vh;
}
.pack_info{
  background-color: var(--primary-color);
}
